@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Noto Sans', sans-serif;
	box-sizing: border-box;
}

nav {
	padding: 10px 20px;
	color: white;
	font-size: larger;
	background-color: #000;
}

body {
	overflow: hidden;
}

button {
	padding: 10px 10px;
	border: none;
	border-radius: 5px;
	background-color: #000;
	color: white;
	font-size: medium;
	cursor: pointer;
}

.bg-green {
	background-color: #0a910a;
}

.bg-blue {
	background-color: #3158da;
}

.bg-red {
	background-color: #bb0a0a;
}
	
$box-size: 50px;

.mainline-block {
	width: 100%;
	background: rgb(238, 238, 238);
	position: relative;
	.line {
		width: 100%;
		height: $box-size;
		display: flex;
		justify-content: center;
		position: relative;
		align-items: center;
		flex-direction: row;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 50px 10px;
		box-sizing: content-box;

		> .left-btn {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 50px;
			display: flex;
			align-items: center;
			border-radius: 0;
			justify-content: center;
			font-size: medium;
			background: rgba(10, 10, 10, 1);
			z-index: 2;
			color: white;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
			&:hover {
				background: rgba(45, 45, 45, 1);
			}
		}

		> .right-btn {
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 50px;
			display: flex;
			align-items: center;
			border-radius: 0;
			font-size: medium;
			justify-content: center;
			background: rgba(10, 10, 10, 1);
			z-index: 2;
			color: white;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
			&:hover {
				background: rgba(45, 45, 45, 1);
			}
		}

		> .line-side {
			flex: 1 0 auto;
			position: relative;
			height: 100%;
			width: 100%;

			&.center {
				flex: 0 0 auto;
				width: $box-size;
				border: #000 solid 4px;
				margin: 0 4px;
				box-sizing: content-box;
			}

			> .left-container {
				display: flex;
				justify-content: flex-start;
				flex-direction: row-reverse;
				right: 0;
				width: auto;
				height: 100%;
				position: relative;
			}

			> .right-container {
		
				display: flex;
				justify-content: flex-start;
				flex-direction: row;
			}

			.cell {
				display: block;
				width: $box-size;
				border: #000 solid 1px;
				height: $box-size;
				flex: 0 1 auto;
				transition: all .4s;
				padding: 5px;

				> .cell-input {
					width: 100%;
					height: 100%;
					border: none;
					background: transparent;
					text-align: center;
					font-size: 1.5em;
					font-weight: bold;
					color: #000;
					transition: all .4s;

					&:focus {
						outline: none;
					}
				}


				&[data-index="0"] {
					background: #ffe591;
				}
			}
		}
	}
}

.general-wrapper {
	padding: 5px 100px 0 100px;
	height: 100%;

	> .controls {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: row;
		padding: 10px 0;

		> * {
			margin: 0 10px;
		}
	}

	> .rules {
		>.add-rules {
			display: flex;
			justify-content: flex-start;
			box-sizing: content-box;
			align-items: flex-end;
			flex-direction: row;
			height: 70px;
			padding: 10px 0;

			> * {
				margin: 0 10px;
			}

			> .add-rules-block {
				flex: 0 0 auto;
				display: flex;
				width: 120px;
				justify-content: flex-end;
				align-items: flex-start;
				flex-direction: column;
				height: 70px;
				box-sizing: content-box;
				margin: 0 10px;

				> * {
					margin: 0 10px;
				}

				> .add-rules-block-input {
					width: 100%;
					height: 35px;
					border: solid 1px #000;
					border-radius: 10px;
					background: transparent;
					text-align: center;
					font-size: 1.5em;
					font-size: medium;
					font-weight: bold;
					padding: 5px 10px;
					color: #000;
					box-sizing: border-box;
					transition: all .4s;

					&:focus {
						outline: none;
					}
				}
			}

			> button {
				height: 40px;
			}
		}
	}
}